body {
    background-color: #00040F;
    color: white;
    
}


span {
    color: #4FCF89;
}

section {
    margin-top: 30vh;
}

a {
    text-decoration: none;
    color: white;
}


button {
    cursor: pointer;
}
.spn {
    color: white;
}

nav {
    display: flex;
    gap: 5vh;
}

.getStart {
   border: 3px solid #4FCF89;
   width: fit-content;
   padding: 2.5vh;
   border-radius: 45px;
}

.discount {
    color: #bbbaba;
    background:linear-gradient(45deg, #272727, #11101D);
    width: fit-content;
    padding: 0.9vh;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50vh;
}

.logo {
    display: flex;
    align-items: center;
}

.sec1 {
    display: flex;
    justify-content: space-around;
}

.robot {
    display: grid;
    align-items: center;
}

.txtArea2 {
    display: flex;
    align-items: center;
    gap: 3.8vh;
    justify-content: center;
    margin-top: 8vh;
}



.rbt {
    width: 45vh;
}




.btn1 {
     background-color: #3DD984;
     padding: 2vh;
     border: none;
     border-radius: 1.2vh;
     margin-top: 2vh;
}

.txt {
    color: #bbbaba;
}




.sec2 {
    display: flex;
    justify-content: space-around;
    text-align: justify;

}

.icon_area {
    display: grid;
    align-items: center;
   
}


.ic {
    display: flex;
    gap: 2vh;
    background:linear-gradient(45deg, #272727, #11101D);
    padding: 0.6vh;
    border-radius: 2vh;
    width: 27vh;
    
}

.sec3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.txtArea4 {
    display: grid;
    font-size: 20px;
}

.store {
    display: flex;
    align-items: center;
    gap: 3vh;
    margin-top: 7vh;
}

.txtArea5 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.commentsArea {
    display: flex;
    align-items: center;
    gap: 25vh;
    margin-top: 14vh;
    
}


.box {
    background:linear-gradient(45deg, #272727, #11101D);
    padding: 8vh;
    font-size: 18px;
    height: 30vh;
    text-align: justify;
}

.sec4 {
     display: grid;
     justify-content: center;
    
}

.cr {
    width: 30vh;
    height: 10vh;
}

.crypto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hhr {
    margin-top: 15vh;
    width: 180vh;
}

.txtArea6 {
    margin-top: 4vh;
}

footer {
    text-align: center;
}


 .registrer_box {
        display: none;
        grid-template-columns: 2 1fr;
        width: 10vh;
        gap: 2vh;
        background-color: #272727;
        width: 30vh;
        padding: 4vh;
        border-radius: 3vh;
        animation: regAnim 4s;
        border: 4px solid #3DD984;
        justify-content: center;
        text-align: center;
}

input {
    text-align: center;
}

.app {
    cursor: pointer;
}

.send {
    margin-top: 2vh;
    width: 12vh;
    margin: 0 auto;
    padding: 1vh;
    border: 2px solid #3DD984;
    background-color: #272727;
    border-radius: 1.5vh;
    color: white;
}

.send:hover {
    background-color: #3DD984;
    transition: ease-out 2s;
}

input {
    width: 20vh;
    padding: 0.5vh;
}


@keyframes regAnim {
     from {
            transform: translate(-550px);
     }

     to {
            transform: translate(0);
     }
}


/* Tablet */

@media screen and (max-width: 1024px) {
    
     header {
        gap: 3vh;
     }

     .txtArea5 {
        display: grid;
        text-align: center;
     }

     .icon_area {
        margin-right: 3vh;
     }

     .crypto {
        display: none;
     }

     .commentsArea {
        gap: 3vh;
        margin-right: 3vh;
        
     }

     .x3 {
        display: none;
     }


     
}




/* Mobile */
@media screen and (max-width: 480px) {

   
    
    header {
        display: grid;
        gap: 2vh;
    }

    .registrer_box {
        margin-left: 3.5vh;
        margin-top: 5vh;
    }

    .logo {
        margin-left: 8vh;
    }

    .sec1 {
        justify-content: center;
        margin-left: 4vh;
    }

    section {
        margin-top: 10vh;
    }

    .txt_area1 {
        font-size: 12px;
    }

    .rbt.rb {
        width: 32vh;
    }

    .txtArea2 {
      display: none;
    }

    .sec2 {
        display: grid;
        text-align: center;
    }

    .ic {
        margin-left: 8vh;
        margin-top: 5vh;
    }

    .sec3 {
        display: grid;
    }

    .bbr{
        width: 40vh;
    }

    .txtArea4 {
        font-size: 2vh;
    }

    .commentsArea {
        display: grid;
        gap: 7vh;
    }
    
    .txtArea5 {
        display: grid;
        text-align: center;
    }

    .box {
        width: 20vh;
        border-radius: 10px;
        text-align: center;
        margin-left: 3.5vh;
    }

    .crypto {
        display: none;
    }

    .hhr {
        width: 43vh;
        margin-top: 7vh;
    }
}

