body {
    background-color: #00040F;
    color: white;
}


span {
    color: #4FCF89;
}

a {
    text-decoration: none;
    color: white;
}

.spn {
    color: white;
}

nav {
    display: flex;
    gap: 5vh;
}

.getStart {
   border: 3px solid #4FCF89;
   width: fit-content;
   padding: 2.5vh;
   border-radius: 45px;
}

.discount {
    color: #bbbaba;
    background:linear-gradient(45deg, #272727, #11101D);
    width: fit-content;
    padding: 0.9vh;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50vh;
}

.logo {
    display: flex;
    align-items: center;
}

.sec1 {
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
}

.robot {
    display: grid;
    align-items: center;
}

.txtArea2 {
    display: flex;
    align-items: center;
    gap: 5vh;
    justify-content: center;
    margin-top: 8vh;
}



.rbt {
    width: 45vh;
}

.sec2 {
    text-align: justify;
}


.btn1 {
     background-color: #3DD984;
     padding: 2vh;
     border: none;
     border-radius: 1.2vh;
     margin-top: 2vh;
}

.txt {
    color: #bbbaba;
}




.sec2 {
    display: flex;
    justify-content: space-around;
    margin-top: 8vh;

}